@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');

body {
    font-family: "Fira Code", sans-serif;
    font-weight: 400;
    list-style: none;
    color:#fff;
}

:root, [data-bs-theme=light] {

    --bs-primary-rgb: 10, 15, 29; /*Azul Marinho*/
    --bs-secondary-rgb: 6, 8 , 17; /*Azul Escuro*/
    --bs-warning-rgb: 255, 230, 0; /*Amarelo*/
    --bs-success-rgb: 111, 109, 109; /*cinza*/

}

.btn-primary {
    padding: 12px;
    --bs-btn-color: black;
    --bs-btn-bg: #ffe600;
    --bs-btn-border-color: #ffe600;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0a0f1d;
    --bs-btn-hover-border-color: #ffe600;

}

.btn-secondary {
    padding: 12px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #0a0f1d;
    --bs-btn-border-color: #ffe600;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #ffe600;
    --bs-btn-hover-border-color: #ffe600;

}
