@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&family=Fira+Mono&display=swap');

body {
    font-family: "Fira Code", sans-serif;
    font-weight: 700;
    list-style: none;
}

:root, [data-bs-theme=light] {

    --bs-primary-rgb: 10, 15, 29; /*Azul Marinho*/
    --bs-secondary-rgb: 6, 8 , 17; /*Azul Escuro*/
    --bs-warning-rgb: 255, 230, 0; /*Amarelo*/

}

.btn-primary {
    --bs-btn-color: #00000;
    --bs-btn-bg: #ffe600;
    --bs-btn-border-color: #ffe600;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0a0f1d;
    --bs-btn-hover-border-color: #ffe600;

}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0a0f1d;
    --bs-btn-border-color: #ffe600;
    --bs-btn-hover-color: #00000;
    --bs-btn-hover-bg: #ffe600;
    --bs-btn-hover-border-color: #ffe600;

}