@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');

body {
    font-family: "Fira Code", sans-serif;
    font-weight: 400;
    list-style: none;
    color:#fff;

}

ul{ 
    list-style: none;
}

section {
    min-width: 360px;
}

:root, [data-bs-theme=light] {

    --bs-primary-rgb: 10, 15, 29; /*Azul Marinho*/
    --bs-secondary-rgb: 6, 8 , 17; /*Azul Escuro*/
    --bs-warning-rgb: 255, 230, 0; /*Amarelo*/
    --bs-success-rgb: 111, 109, 109; /*cinza*/

}

.btn-primary {
    padding: 10px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #0a0f1d;
    --bs-btn-border-color: #ffe600;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #ffe600;
    --bs-btn-hover-border-color: #ffe600;

}

.icon {
    max-width: 30px;
}

.works .card {
    color: white;
    background-color: rgb(6, 8 , 17);
    padding: 15px;
    margin: 20px;
    transition: all 0.3s;
}

.works .card:hover {
    transform: scale(1.15);
}

.h2 {
    font-size: 25px;
}

.h3 {
    font-size: 20px;
}

.h4 {
    font-size: 20px;
}

#home .container .content .apresentation .h1 {
    font-size: 50px;
}

#home .container .content .apresentation .h2 {
    font-size: 35px
}

#home .container .content .apresentation .h3 {
    font-size: 20px;
}


@media screen and (max-width: 800px){

    body {
        min-width: 550px;

    }
    
    .btn-primary {
        padding: 10px;
        --bs-btn-color: #fff;
        --bs-btn-bg: #0a0f1d;
        --bs-btn-border-color: #ffe600;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #0a0f1d;
        --bs-btn-hover-border-color: #ffe600;
    }
    
    .h2 {
        font-size: 15px;
    }
    
    .h3 {
        font-size: 15px;
    }
    
    .h4 {
        font-size: 15px;
    }

    #home .container .content .apresentation .h1 {
        font-size: 40px;
    }
    
    #home .container .content .apresentation .h2 {
        font-size: 25px
    }
    
    #home .container .content .apresentation .h3 {
        font-size: 15px;
    }  

    #about-me .container .content .text {
        text-align: center;
    }

    #about-me .container .content .text .image {
        display: none;
    }

}

@media screen and (max-width: 1000px){

    #about-me .container .content .text {
        text-align: center;
    }
    
    #about-me .container .content .text .image {
        display: none;
    }

}